include ../helpers/mixins
block variables 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        <![endif]-->
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css', href="static/css/style.css")
    body 
        .wrapper 
            //include ../modules/header/headers
            .content 
                block content 
            //include ../modules/footer/footer
        script(src="static/js/main.js")
        block script  